# === C++ Stuff ===
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger files
*.pdb
*.dwo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/

# === Python Stuff ===
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# ML models / dataset
models/
*.pth
*.pt
*.npz
*.npy

# === OS ===
.DS_Store
Thumbs.db
